<div id="sidebar">
  <div class="box">
    <h3>Key Dates - Deadlines</h3>
    <!--
    <p>To be announced.<br /></p>
    -->
    <ul class="list">
      <li class="last">Call for proceedings opens: November 11, 2025</li>
      <li class="last">Proceedings submission deadline: <b>January 20, 2026</b></li>
      <li class="last">Call for abstracts opens: January 19, 2026</li>
      <li class="last">Conditional acceptance notification for
        proceedings: March 10, 2026</li>
      <li class="last">Revised proceedings papers: March 24, 2026</li>
      <li class="last">Final acceptance notification for proceedings
        papers: April 2, 2026</li>
      <li class="last">Abstract submission deadline: <b>April 9, 2026</b></li>
      <li class="last">Late poster submissions open: April 13, 2026</li>
      <li class="last">Talk and/or poster acceptance notifications: May 5, 2026</li>
      <li class="last">Late poster submission deadline: <b>May 7, 2026</b></li>
      <li class="last">Late posters acceptance notification: May 14, 2026</li>
      <li class="last">Presenter registration deeadline: June 5, 2026</li>
      <li class="last">Last day to upload files to the virtual platform: July 3, 2026</li>   
      <li class="last">ISMB conference: <b>July 12-16, 2026, Washington, DC, USA</b></li>
      <li class="last"><br /></li>
    </ul>
    <h3>Keynote Speakers</h3>
    <p>To be announced.</p>
    <!--
   <ul>
     <li>Valentina Boeva, ETH Zurich, Switzerland</li>
     <li>Jonathan Göke, Genome Institute of Singapore</li>
     <li>Tobias Marschall, Heinrich Heine University Düsseldorf, Germany </li>
   </ul>
   -->
   </div>
  <div class="box">
  <h3>Sponsors</h3>
      <p>
<!--  <a href="https://nanoporetech.com/" target=_blank><img src="images/ont-logo.svg" width="200px"></a>      
  <a href="https://www.pacb.com/" target=_blank><img src="images/logo-pacbio.svg" width="200px"></a>      
-->
      HiTSeq is seeking the generous support of sponsors to ensure the
      success of the conference. Please inquire on the sponsor package.
      </p>


  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
  <div><br />
  </div>
</div><!-- sidebar-->

<br class="clearfix" />
